In [2]:
import pandas as pd

In [ ]:
base_test = "data/test.csv"
base_train = "data/train.csv"
test= pd.read_csv(base_test)
train = pd.read_csv(base_train)

In [29]:
test['Cabin'] = test['Cabin'].fillna('No asignado')
train['Cabin'] = train['Cabin'].fillna('No asignado')

**Imputacion de datos faltantes**

In [18]:
# LIMPIEZA DEL DATAFRAME 'train'

# Imputar 'Age' (Edad) con la Mediana
mediana_age_train = train['Age'].median()
train['Age'] = train['Age'].fillna(mediana_age_train)

In [20]:
# 2.2. Imputar 'Embarked' con la Moda (para variables categoricas)
moda_embarked_train = train['Embarked'].mode()[0]
train['Embarked'] = train['Embarked'].fillna(moda_embarked_train)

In [19]:
# LIMPIEZA DEL DATAFRAME 'test'

# Imputar 'Age'con la Mediana
mediana_age_test = test['Age'].median()
test['Age'] = test['Age'].fillna(mediana_age_test)

In [21]:
# Imputar 'Fare' con la Media (solo tiene un valor faltante)
media_fare_test = test['Fare'].mean()
test['Fare'] = test['Fare'].fillna(media_fare_test)

**Eliminación de Filas Duplicadas**

In [22]:
# Eliminar filas duplicadas exactas
train.drop_duplicates(inplace=True)
test.drop_duplicates(inplace=True)

In [23]:
print(" Verificación de valores faltantes después de la limpieza ")
print("Train limpio:")
print(train.isnull().sum())
print("\nTest limpio:")
print(test.isnull().sum())

 Verificación de valores faltantes después de la limpieza
Train limpio:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Test limpio:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

**2**
survival: Es una variable nominal que tiene dos posibles resultados(0=no,1=si) y muestra quines sobreviviron al Titanic.

pclass: La variable pclass es categorica y es una manera de determinar el estado socioeconomico de el pasajero, mediante el valor del ticket que se divide en tres categorias (1st=Alto, 2nd=Medio, 3rd=Bajo)

sex: Es una variable categorica, que divide a los pasajeros en dos (Male, Female) que se refiere al sexo masculino y femenino.

Age: Es una variable numerica, que dictamina la edad del pasajero

sibsp: Es la cantidad de familiares que hiban abordo, en el sentido de la relacion familiar (silbing =hermano, hermana, hermanastro o hermanatra y spouse = esposo o esposa(ignorando amantes y prometidos))

parch: Es el numero de pafres e hijos que hiban abordo (Parent = mother, father, child= hijo,hija, hijo adoptivo o hija adoptiva) alguno niños viajaron con una niñera (parch=0)

ticket = Es el numero del tiquete, hay que tener en cuenta que todos los pasajeros cuentan con un numero de tiquete unico

fare = la tarifa del pasajero

cabin = el numero de la cabina

embarked= puerto de partida (C=Cherbourg, Q=Queenstown, S=Southampton)

In [30]:
#3
#Data frame train
display(train.describe())

#Data frame test
display(test.describe())

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [31]:
#8
#a
promedio_edad = train['Age'].mean()
print(promedio_edad)

#b
conteo = train['Survived'].value_counts()

print("Fallecidos:", conteo[0])
print("Sobrevivientes:", conteo[1])

#c
primera_clase = train[train['Pclass'] == 1]
tarifa_promedio = primera_clase['Fare'].mean()
print("Tarifa promedio de primera clase:", tarifa_promedio)

#d
familiares = train[(train['SibSp'] > 0) | (train['Parch'] > 0)]
num_con_familiares = len(familiares)

print("Pasajeros con familiares a bordo:", num_con_familiares)

#e
edad_min = train['Age'].min()
edad_max = train['Age'].max()

print("Edad más joven:", edad_min)
print("Edad más vieja:", edad_max)

#f
puertos = train['Embarked'].value_counts()
print("Pasajeros por puerto de embarque:")
display(puertos)

#g
train['Familiares'] = train['SibSp'] + train['Parch']

# 4. Contar quiénes viajaron solos y quiénes con familiares
viajaron_solos = len(train[train['Familiares'] == 0])
viajaron_con_familia = len(train[train['Familiares'] > 0])

print("Pasajeros que viajaron solos:", viajaron_solos)
print("Pasajeros que viajaron con familiares:", viajaron_con_familia)

29.69911764705882
Fallecidos: 549
Sobrevivientes: 342
Tarifa promedio de primera clase: 84.1546875
Pasajeros con familiares a bordo: 354
Edad más joven: 0.42
Edad más vieja: 80.0
Pasajeros por puerto de embarque:

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Pasajeros que viajaron solos: 537
Pasajeros que viajaron con familiares: 354

In [ ]:
# Analisis Estadistico inicial
# 4
train['Familiares'] = train['SibSp'] + train['Parch']
test['Familiares'] = test['SibSp'] + test['Parch']

print("Dataframe 'train' con la nueva columna 'Familiares'")
print("Se muestran las primeras 5 filas con todas las columnas:")
print(train.head())

print("\n Dataframe 'test' con la nueva columna 'Familiares'")
print("Se muestran las primeras 5 filas con todas las columnas:")
print(test.head())

In [ ]:
# 5
train['source'] = 'train'
test['source'] = 'test'

combined_df = pd.concat([train, test], ignore_index=True)

# Verificación de la Fusión
print("Verificación del DataFrame Combinado")
print(f"Filas totales del nuevo DataFrame (891 + 418): {len(combined_df)}")
print("\nConteo de filas por origen:")
print(combined_df['source'].value_counts())
print("\nÚltimas filas (de 'test') mostrando 'Survived' como nulo:")
print(combined_df[['Survived', 'source', 'Familiares']].tail())

In [ ]:
# 7
# encontrar lo espacios en blanco
espacio_en_blanco = combined_df.isnull().sum()
espacio_en_blanco

In [ ]:
# 10
bins = [-1, 0, 3, combined_df['Familiares'].max()]
labels = ['1. Sin Familiares', '2. Familia Pequeña', '3. Familia Grande']

combined_df['GrupoFamiliar'] = pd.cut(combined_df['Familiares'], bins=bins, labels=labels)

print("La columna 'GrupoFamiliar' se ha creado con éxito.")
print(combined_df[['Familiares', 'GrupoFamiliar']].head(10))

combined_df['Tiene_Cabina'] = combined_df['Cabin'].notna().astype(int)

# Calcular la distribución de cabinas por grupo familiar
cabin_distribution = combined_df.groupby('GrupoFamiliar', observed=True)['Tiene_Cabina'].agg(['count', 'mean']).reset_index()
cabin_distribution.columns = ['Grupo Familiar', 'Total Pasajeros', 'Proporción con Cabina']
cabin_distribution['Proporción con Cabina (%)'] = (cabin_distribution['Proporción con Cabina'] * 100).round(1)

print("\n Distribución de Cabinas por Grupo Familiar")
print(cabin_distribution[['Grupo Familiar', 'Total Pasajeros', 'Proporción con Cabina (%)']])

In [ ]:
# 11
def grupo_etario(Age):
    if Age <18 and Age>=0:
        return 'Menor de edad'
    elif Age >= 18 and Age <50:
        return 'Adulto'
    elif Age>=50:
        return 'Mayores'
    else:
      return "No clasificado"

train['Grupo_etario'] = train['Age'].map(grupo_etario)
display(train)

# 1. Agrupar por Grupo etario y Sex
conteo_por_sexo_y_edad = train.groupby(['Grupo_etario', 'Sex']).size().reset_index(name='Total_Personas')

print("\n Conteo de Hombres y Mujeres por Grupo Etario ")
print(conteo_por_sexo_y_edad)

In [ ]:
# 6
print("Estadísticas Descriptivas\n")
print(combined_df.describe(include='all').T)

# Resumen de datos faltantes
print("\nConteo de Valores Nulos")
print(combined_df.isnull().sum())

In [ ]:
# 9
sobrev_por_sexo = train.groupby('Sex')['Survived'].sum()
tasa_sobrev_por_sexo = train.groupby('Sex')['Survived'].mean()

print("Conteo de sobrevivientes por sexo:")
display(sobrev_por_sexo)
print("\nTasa de supervivencia por sexo:")
display(tasa_sobrev_por_sexo)